<div class="Admin">
  <h1>ユーザー一覧</h1>
  <div class="Admin__content">
    <% @users.each do |user| %>
    <div class="AdminCard">
      <div class="AdminCard__top">
        <h2><%= link_to user.name, edit_user_path(user) %></h2>
      </div>
      <div class="AdminCard__content">
        <p>ID：<%= user.id %></p>
        <p>ユーザー：<%= link_to user.name, edit_user_path(user) %></p>
        <p>メールアドレス：<%=  user.email %></p>
        <p><%= link_to '削除', user_path(user), method: :delete, data: { confirm: '関連プランも削除されます。本当に削除しますか？' }  %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>