<div>
  <%= @users.each do |user| %>
    <p>ID：<%= user.id %></p>
    <p>ユーザー：<%= link_to user.name, edit_user_path(user) %></p>
    <p>メールアドレス：<%=  user.email %></p>
    <p><%= link_to '削除', user_path(user), method: :delete %></p>
  <% end %>
</div>