<div>
    <%= @plans.each do |plans| %>
      <p>ID： <%= plan.id %></p>
      <p>プラン：　<%= plan.name %></p>
      <p>プラン内容：　<%= plan.p_content %></p>
      <p>契約期間：　<%= plan.construct_period %></p>
      <p>総合計金額：<%= plan.total_fee %></p>
      <p>端末代金：　<%= plan.plan_device_fee %></p>
      <p>URL：　<%= plan.plan_url %></p>
      <%= @net_line.
      <p>キャンペーン<%= plan. %></p>
      <p><%= plan. %></p>
      <p><%= plan. %></p>
      <p><%= plan. %></p>
      <p><%= plan. %></p>
      <p><%= plan. %></p>
    <% end %>
  </div>