<div class="Article__content">
  <div class="ArticleCard">
    <div class="ArticleCard__top">
      <%= link_to({ controller: 'plans', action: 'show', id: plan.id }, { class: 'ArticleCard__name' }) do %>
        <%= plan.name %> <%= plan.provider.name %>
      <% end %>
    </div>
    <div class="ArticleCard__content">
      <div class="ArticleCard__box">
        <p class="ArticleCard__title">契約期間</p>
        <p class="ArticleCard__text"><%= plan.construct_period %></p>
      </div>
      <div class="ArticleCard__box">
        <p class="ArticleCard__title">契約期間合計</p>
        <p class="ArticleCard__text"><%= plan.total_fee %>円</p>
      </div>
      <div class="ArticleCard__box">
        <p class="ArticleCard__title">月間データ通信量</p>
        <p class="ArticleCard__text"><%= plan.data_capacity.name %></p>
      </div>
      <div class="ArticleCard__box">
        <p class="ArticleCard__title">カテゴリ</p>
        <p class="ArticleCard__text">
          <% plan.plans_services.each do |plan_services| %>
            <%= plan_services.service.name %>
          <% end %>
        </p>
      </div>
    </div>
    <div class="ArticleCard__footer">
      <a class="Button" href="<%= plan.plan_url %>">公式サイト</a>
      <%= link_to( '詳細', { controller: 'plans', action: 'show', id: plan.id }, { class: 'Button' }) %>
    </div>
  </div>
</div>