<div class="Article__content">
  <div class="ArticleCard">
    <div class="ArticleCard__top">
      <%= link_to({ controller: 'plans', action: 'show', id: plan.id }, { class: 'ArticleCard__title' }) do %>
        <%= plan.name %> <%= plan.provider.name %>
      <% end %>
    </div>
    <div class="ArticleCard__content">
      <p class="ArticleCard__text">契約期間：<%= plan.construct_period %></p>
      <p class="ArticleCard__text">契約期間合計：<%= plan.total_fee %>円</p>
      <p class="ArticleCard__text">端末代金：<%= plan.plan_device_fee %>円</p>
      <% plan.plans_campaigns.each do |plan_campaigns| %>
        <p class="ArticleCard__text">キャンペーン：<%= plan_campaigns.campaign.name %></p>
      <% end %>
      <p class="ArticleCard__text">データ通信量：<%= plan.data_capacity.name %></p>
    </div>
    <div class="ArticleCard__footer">
      <a class="Button" href="<%= plan.plan_url %>">公式サイト</a>
      <%= link_to( '詳細', { controller: 'plans', action: 'show', id: plan.id }, { class: 'Button' }) %>
    </div>
  </div>
</div>