<div class="Admin">
  <h1>端末一覧</h1>
  <%= link_to '新規作成', new_device_path %>
  <div class="Admin__content">
    <% @devices.each do |device| %>
    <div class="AdminCard">
      <div class="AdminCard__top">
        <h2><%= link_to device.name, edit_device_path(device) %></h2>
      </div>
      <div class="AdminCard__content">
        <p>ID：<%= device.id %></p>
        <p>サービス：<%= device.service.name %></p>
        <p><%= link_to '削除', device_path(device), method: :delete, data: { confirm: '本当に削除しますか？' } %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>