<% @net_lines.each do |n| %>
  <p>ID：<%= n.id %></p>
  <p>回線：<%= link_to n.name, net_line_path(n) %></p>
  <p>サービス：<%= n.name %></p>
  <p><%= link_to '編集', edit_net_line_path(n) %></p>
  <p><%= link_to '削除', net_line_path(n), method: :delete %></p>
<% end %>