<p>ダッシュボード</p>

<%= link_to 'プラン一覧', plans_path %>
<%= link_to 'キャンペーン一覧', campaigns_path %>
<%= link_to '通信容量一覧' , data_capacities_path %>
<%= link_to '端末一覧', devices_path %>
<%= link_to '回線一覧' , net_lines_path %>
<%= link_to 'サービス一覧', services_path %>
<%= link_to 'プロバイダー一覧', providers_path %>
<%= link_to 'ユーザー一覧', users_path %>