<div>
  <%= link_to '新規登録', new_campaign_path %>

  <%= @campaigns.each do |c| %>
    <p>キャンペーン：<%= link_to c.name, campaign_path(c) %></p>
    <p>キャンペーン内容：<%= c.cp_content %></p>
    <p>プロバイダー：<%= c.provider.name %></p>
    <p><%= link_to '編集', edit_campaign_path(c) %></p>
    <p><%= link_to '削除', campaign_path(c), method: :delete %></p>
  <% end %>
</div>