<div class="Admin">
  <h1>キャンペーン一覧</h1>
  <%= link_to '新規作成', new_campaign_path %>
  <div class="Admin__content">
    <% @campaigns.each do |campaign| %>
    <div class="AdminCard">
      <div class="AdminCard__top">
        <h2><%= link_to campaign.name, edit_campaign_path(campaign) %></h2>
      </div>
      <div class="AdminCard__content">
        <p>ID：<%= campaign.id %></p>
        <p>キャンペーン内容：<%= campaign.cp_content %></p>
        <% unless campaign.provider.blank? %>
        <p>プロバイダー：<%= campaign.provider.name %></p>
        <% end %>
        <p><%= link_to '削除', campaign_path(campaign), method: :delete, data: { confirm: '関連プランも削除されます。本当に削除しますか？' } %>
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div>