<div>
  <%= @services.each do |s| %>
    <p>ID：<%= s.id %></p>
    <p>プラン：<%= link_to s.name, service_path(s) %></p>
    <p><%= link_to '編集', edit_service_path(s) %></p>
    <p><%= link_to '削除', service_path(s), method: :delete %></p>
  <% end %>
</div>