<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:alert] %>
      <%= flash[:alert] %>
    <% end %>
    <div class="TopLayout">
      <div class="TopLayout__header">
        <div class="Header">
          <h2 class="Header__title">maprice</h2>
        </div>
      </div>
      <div class="TopLayout__globalnavi">
        <div class="GlobalNavi">
          <a class="GlobalNavi__menu" href="/">TOP</a>
          <a class="GlobalNavi__menu" href="/plans">ポケットWiFi</a>
        </div>
      </div>
      <%= yield %>
      <div class="TopLayout__footer">
      </div>
    </div>
  </body>
</html>
