<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <%= link_to 'ログアウト', logout_path(get_auth_token), method: :delete %>
    <% else %>
      <%= link_to 'ログイン', login_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
